<app-navbar></app-navbar>
<body>
    <div class="container">
        <div class="text-container">
            ADMINISTRA LAS
            <br>
            <div>
                ASIGNACIONES DE TU EQUIPO
            </div>
             
        </div>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    <div class="texto-con-sombra">Asignaciones recientes...</div>
        
        <mat-accordion>
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Encargado(s)
                </mat-panel-title>
                <mat-panel-description>
                    Refactorización de codigo
                </mat-panel-description>
              </mat-expansion-panel-header>
              <p>Sergio Sacoto</p>
              <p>Bernardo Silva</p>
            </mat-expansion-panel>
            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Encargado(s)
                  </mat-panel-title>
                  <mat-panel-description>
                      Migración de datos
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <p>Pedro Fernandez</p>
                <p>Aubrey Plaza</p>
              </mat-expansion-panel>
              <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Encargado(s)
                  </mat-panel-title>
                  <mat-panel-description>
                      Migración de código
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <p>Sergio Sacoto</p>
                <p>Bernardo Silva</p>
                <p>Aubrey Plaza </p>
              </mat-expansion-panel>
            
          </mat-accordion>
          
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        
    
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    
    </div>
</body>
