<app-navbar></app-navbar>
<body>
  <div class="col-md-6 offset-md-3">
    <h3 class="text-center">Edite su asignación</h3>
    <form (ngSubmit)= "onSubmit()" #tareaForm = "ngForm">

      <div class="form-group">
        <label>progress: </label>
        <input type = "text"
        class="form-control"
        id = "progress"
        [(ngModel)] = "tarea.progress"
        name = "progress"
        required
        minlength="8"
        maxlength="11"
        placeholder="Digite progress de tarea"
        #progress = "ngModel"
        >
        <div class="alert alert-danger" *ngIf= "progress.invalid && (progress.dirty || progress.touched)">
          <div *ngIf = "progress.errors?.['required']">
            Digite progress por favor
          </div>
          <div *ngIf = "progress.errors?.['minlength']">
            tiene que contener como minimo 8 caracteres
          </div>
          <div *ngIf = "progress.errors?.['maxlength']">
            tiene que tener como maximo 11 caracteres
          </div>
        </div>
      </div>
      <div class="form-group">
        <label> Bloqueo: </label>
        <input type="text"
        class="form-control"
        id = "blocked"
        [(ngModel)] = "tarea.blocked"
        name="blocked"
        required
        placeholder=" 1  o  0"
        #blocked = "ngModel"
        >
        <div class="alert alert-danger" *ngIf= "blocked.invalid && (blocked.dirty || blocked.touched)">
            <div *ngIf = "blocked.errors?.['required']">
              establezca si la tarea está bloqueada
            </div>
          </div>
    </div>
         <div class="form-group">
          <label> Bloqueada por: </label>
          <input type="text"
          class="form-control"
          id = "blocked_by"
          [(ngModel)] = "tarea.blocked_by"
          name="blocked_by"
          required
          minlength="8"
          maxlength="30"
          placeholder="Nombre de usuario quien la bloquea"
          #blocked_by = "ngModel"
          >
          <div class="alert alert-danger" *ngIf= "blocked_by.invalid && (blocked_by.dirty || blocked_by.touched)">
              <div *ngIf = "blocked_by.errors?.['required']">
                quién la bloquea
              </div>
              <div *ngIf = "blocked_by.errors?.['minlength']">
                tiene que contener como minimo 8 caracteres
              </div>
              <div *ngIf = "blocked_by.errors?.['maxlength']">
                tiene que tener como maximo 30   caracteres
              </div>
            </div>
      </div> 
      
    <div class="form-group">
      <label> razón para bloquearla: </label>
      <input type="text"
      class="form-control"
      id = "blocked_reason"
      [(ngModel)] = "tarea.blocked_reason"
      name="blocked_reason"
      required
      minlength="6"
      maxlength="50"
      placeholder="indique no hay razón alguna si no la ha bloqueado"
      #blocked_reason = "ngModel"
      >
      <div class="alert alert-danger" *ngIf= "blocked_reason.invalid && (blocked_reason.dirty || blocked_reason.touched)">
          <div *ngIf = "blocked_reason.errors?.['required']">
            Digite progress por favor
          </div>
          <div *ngIf = "blocked_reason.errors?.['minlength']">
            tiene que contener como minimo 6 caracteres
          </div>
          <div *ngIf = "blocked_reason.errors?.['maxlength']">
            tiene que tener como maximo 30   caracteres
          </div>
        </div>
    </div> 
      

      
      <button class="btn btn-success" [disabled]= "!tareaForm.form.valid">Guardar</button>
    </form>
  </div>
  <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
</body>

  