<app-navbar></app-navbar>
<body>
    <div class="container">
        <h2>Lista de Tareas</h2>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <input type="text" class="form-control" name="filterTarea" placeholder="Buscar..." [(ngModel)]="filterTarea">
            </div>
    
        </div>
    
    </div>
    <table class="table table-striped">
        <thead class="table-dark">
            <tr>
                <th>Título</th>
                <th>Descripción</th>
                <th>Fecha límite</th>
                <th>Acciones</th>
                <!-- <th>progress</th> -->
            </tr>
        </thead>
        <tbody>
            <tr *ngFor= "let tarea of tareas | filter:filterTarea"> 
                <td>{{ tarea.name }}</td>
                <td>{{tarea.description}}</td>
                <td>{{tarea.deadline}}</td>
                <td>
                    <button (click)= "actualizar(tarea.id)" class="btn btn-info">Actualizar bloqueo</button>
                    <button (click)= "eliminar(tarea.id)" class="btn btn-danger" style="margin-left: 10px;">Eliminar</button>
                    <button (click)= "ver(tarea.id)" class="btn btn-primary" style="margin-left: 10px;">Detalles</button>
                </td>
                <!-- <td>
                    <mat-slide-toggle [(ngModel)]="progresssSlideToggle[video.id]" (change)="guardarprogresssSlideToggle()"></mat-slide-toggle>
                </td> -->
            </tr>
        </tbody>

    </table>
    <mat-paginator [length]="200" [pageSizeOptions]="[10, 50, 100]" aria-label="Select page">
    </mat-paginator>

    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</body>
