<nav class="navbar navbar-expand-sm bg-dark navbar-dark text-white">

    <ul class="navbar-nav">
        <li class="nav-item">
            <a routerLink="obtener" routerLinkActive="active" class="nav-link">List of Videos</a>
        </li>
        <li class="nav-item">
            <a routerLink="agregarvid" routerLinkActive="active" class="nav-link">Add video</a>
        </li>
    </ul>

</nav>
<div class="titulo-container">
    <span class="youtube-icon"></span>
    <h1 class="titulo">Reproductor de Videos</h1>
</div>


<div class="container">
    <router-outlet></router-outlet>
</div>