<h3>
    video
</h3>

<div>
    <div>
        <label><b>ID: </b> {{video.id}}</label>
    </div>
    <div>
        <label><b>titulo: </b> {{video.title}}</label>
    </div>
    <div>
        <label><b>descripcion: </b> {{video.description}}</label>
    </div>
    <div class= "container">
        <iframe width="560" height="315" src= "{{video.videourl}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
</div>                                            