<app-navbar></app-navbar>

<body>
  <div class="col-md-6 offset-md-3">
    <h3 class="text-center">Task Addition</h3>
    <form (ngSubmit)= "onSubmit()" #tareaForm="ngForm">
        <div class="form-group">
            <label>Titulo: </label>
            <input type="text"
            class="form-control"
            id = "name"
            [(ngModel)] = "tarea.name"
            name="name"
            required
            minlength="4"
            maxlength="30"
            placeholder="digite titulo de tarea"
            #name = ngModel
            >
            <div class="alert alert-danger" *ngIf= "name.invalid && (name.dirty || name.touched)">
                <div *ngIf="name.errors?.['required']">
                    digite titulo por favor
                </div>
                <div *ngIf = "name.errors?.['minlength']">
                    El titulo tiene que contener como minimo 4 caracteres
                  </div>
                  <div *ngIf = "name.errors?.['maxlength']">
                    El titulo tiene que tener como maximo 30 caracteres
                  </div>
            </div>
        </div>


        <div class="form-group">
            <label>Descripcion: </label>
            <input type="text"
            class="form-control"
            id = "description"
            [(ngModel)] = "tarea.description"
            name="description"
            required
            minlength="4"
            maxlength="130"
            placeholder="Digite la description"
            #description = "ngModel"
            >
            <div class="alert alert-danger" *ngIf= "description.invalid && (description.dirty || description.touched)">
                <div *ngIf = "description.errors?.['required']">
                  Digite su description por favor
                </div>
                <div *ngIf = "description.errors?.['minlength']">
                  tiene que contener como minimo 4 caracteres
                </div>
                <div *ngIf = "description.errors?.['maxlength']">
                  tiene que tener como maximo 130   caracteres
                </div>
              </div>
        </div>

      <div class="form-group">
        <label> importance: </label>
        <input type="text"
        class="form-control"
        id = "importance"
        [(ngModel)] = "tarea.importance"
        name="importance"
        required
        minlength="4"
        maxlength="5"
        placeholder="Digite importance: ALTA, MEDIA o BAJA"
        #importance = "ngModel"
        >
        <div class="alert alert-danger" *ngIf= "importance.invalid && (importance.dirty || importance.touched)">
            <div *ngIf = "importance.errors?.['required']">
              Digite la importance por favor
            </div>
            <div *ngIf = "importance.errors?.['minlength']">
              tiene que contener como minimo 4 caracteres
            </div>
            <div *ngIf = "importance.errors?.['maxlength']">
              tiene que tener como maximo 5 caracteres
            </div>
          </div>
    </div>
    <div class="form-group">
      <label> Progreso: </label>
      <input type="text"
      class="form-control"
      id = "progress"
      [(ngModel)] = "tarea.progress"
      name="progress"
      required
      minlength="8"
      maxlength="11"
      placeholder="Digite progress: COMPLETO o INCOMPLETO"
      #progress = "ngModel"
      >
      <div class="alert alert-danger" *ngIf= "progress.invalid && (progress.dirty || progress.touched)">
          <div *ngIf = "progress.errors?.['required']">
            Digite progress por favor
          </div>
          <div *ngIf = "progress.errors?.['minlength']">
            tiene que contener como minimo 8 caracteres
          </div>
          <div *ngIf = "progress.errors?.['maxlength']">
            tiene que tener como maximo 130   caracteres
          </div>
        </div>
  </div>
  <div class="form-group">
    <label> Duracion: </label>
    <input type="text"
    class="form-control"
    id = "duration"
    [(ngModel)] = "tarea.duration"
    name="duration"
    required
    placeholder="duración en horas..."
    #duration = "ngModel"
    >
    <div class="alert alert-danger" *ngIf= "duration.invalid && (duration.dirty || duration.touched)">
        <div *ngIf = "duration.errors?.['required']">
          Digite progress por favor
        </div>

      </div>
  </div>
  <div class="form-group">
    <label> Fecha límite: </label>
    <input type="text"
    class="form-control"
    id = "deadline"
    [(ngModel)] = "tarea.deadline"
    name="deadline"
    required
    placeholder="escriba la fecha límite"
    #deadline = "ngModel"
    >
    <div class="alert alert-danger" *ngIf= "deadline.invalid && (deadline.dirty || deadline.touched)">
        <div *ngIf = "deadline.errors?.['required']">
          Digite fecha plazo por favor
        </div>

      </div>
  </div>
  <div class="form-group">
    <label> Bloqueo: </label>
    <input type="text"
    class="form-control"
    id = "blocked"
    [(ngModel)] = "tarea.blocked"
    name="blocked"
    required
    placeholder=" 1  o  0"
    #blocked = "ngModel"
    >
    <div class="alert alert-danger" *ngIf= "blocked.invalid && (blocked.dirty || blocked.touched)">
        <div *ngIf = "blocked.errors?.['required']">
          establezca si la tarea está bloqueada
        </div>
      </div>
</div>
     <div class="form-group">
      <label> Bloqueada por: </label>
      <input type="text"
      class="form-control"
      id = "blocked_by"
      [(ngModel)] = "tarea.blocked_by"
      name="blocked_by"
      required
      minlength="8"
      maxlength="30"
      placeholder="Nombre de usuario quien la bloquea"
      #blocked_by = "ngModel"
      >
      <div class="alert alert-danger" *ngIf= "blocked_by.invalid && (blocked_by.dirty || blocked_by.touched)">
          <div *ngIf = "blocked_by.errors?.['required']">
            quién la bloquea
          </div>
          <div *ngIf = "blocked_by.errors?.['minlength']">
            tiene que contener como minimo 8 caracteres
          </div>
          <div *ngIf = "blocked_by.errors?.['maxlength']">
            tiene que tener como maximo 30   caracteres
          </div>
        </div>
  </div> 
  
<div class="form-group">
  <label> razón para bloquearla: </label>
  <input type="text"
  class="form-control"
  id = "block_reason"
  [(ngModel)] = "tarea.block_reason"
  name="block_reason"
  required
  minlength="6"
  maxlength="50"
  placeholder="indique no hay razón alguna si no la ha bloqueado"
  #block_reason = "ngModel"
  >
  <div class="alert alert-danger" *ngIf= "block_reason.invalid && (block_reason.dirty || block_reason.touched)">
      <div *ngIf = "block_reason.errors?.['required']">
        Digite progress por favor
      </div>
      <div *ngIf = "block_reason.errors?.['minlength']">
        tiene que contener como minimo 6 caracteres
      </div>
      <div *ngIf = "block_reason.errors?.['maxlength']">
        tiene que tener como maximo 30   caracteres
      </div>
    </div>
</div> 
  
         
    
        <!-- <div class="form-group">
            <label>URL: </label>
            <input type="text"
            class="form-control"
            id = "videourl"
            [(ngModel)] = "video.videourl"
            name="videourl"
            >
        </div> -->

        <button class="btn btn-success" [disabled]= "!tareaForm.form.valid" id="liveToastBtn">Guardar</button>
        <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
          <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
              <img src="..." class="rounded me-2" alt="...">
              <strong class="me-auto">REGISTRADA</strong>
              <small> . </small>
              <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
              Hola! Tu tarea ha sido asignada con éxito
            </div>
          </div>
        </div>

    </form>
    
</div>
<br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
</body>
